/user_authentication/.env
requirements.txt
/user_authentication/__pycache__
/notes_api/__pycache__
/email_assistant/.env
/email_assistant/app/__pycache__
/email_assistant/app/routers/__pycache__
/email_assistant/app/services/__pycache__
/payment_service/.env
/payment_service/payments.db
/payment_service/app/__pycache__
/payment_service/app/routes/__pycache__
/payment_service/app/services/__pycache__
/payment_service/app/models/__pycache__
/payment_service/app/schemas/__pycache__
/file_upload_service/app/__pycache__
/file_upload_service/app/api/__pycache__
/file_upload_service/app/services/__pycache__
/file_upload_service/app/utils/__pycache__
